@tailwind base;
@tailwind components;
@tailwind utilities;

.same{
  @apply hover:bg-white hover:text-black px-2 py-1;
}
.same-intro{
 color: white;
} 
.intro-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: 6px solid green;
  box-shadow: 2px;
}